{%extends 'base.html'%}
{%block content%}
    <h1>About</h1>
    <p>This is a template</p>

    <p>
        {{my_text}}, {{my_number}}
    </p>

    {{my_text|safe}}

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>
    <ul>
        {% for item in my_list %}
            {% if item == 'String' %}
                <li>Not a condition</li>
            {% elif item == 124 %}
                <li>{{forloop.counter}} - {{item|add:22}}</li>
            {% else %}
                <li>{{forloop.counter}} - {{item}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{%endblock%}